{
  "root": false,
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.test.json",
    "tsconfigRootDir": "."
  },
  "rules": {
    "@typescript-eslint/no-loss-of-precision": 0,
    "eol-last": 1,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-underscore-dangle": [
      1
    ],
    "object-shorthand": [
      1,
      "always"
    ],
    "quote-props": [
      1,
      "as-needed"
    ],
    "no-var": 1,
    "prefer-const": 1,
    "prefer-arrow-callback": 1,
    "no-trailing-spaces": [
      1,
      {
        "skipBlankLines": true
      }
    ],
    "key-spacing": [
      2
    ],
    "semi": 0,
    "no-extra-semi": 1,
    "prefer-template": 1,
    "quotes": [
      0,
      "single"
    ],
    "strict": [
      1,
      "global"
    ],
    "max-params": [
      "error",
      3
    ]
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "jest",
    "@typescript-eslint",
    "import"
  ]
}
